@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  scroll-behavior: smooth;
  background: url('./assets/images/blue-sky-bg.jpg') no-repeat fixed center center/cover;
  
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

